#{extends 'main.html' /}
#{set title:'Home' /}


<h1>H1 title</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt consectetur congue. Praesent consequat pellentesque auctor. Fusce vitae fermentum tellus. Ut porta ornare mi, ut egestas elit dignissim et. Cras dictum tincidunt quam at accumsan. Sed non risus in lacus rhoncus commodo. Nulla ac vehicula nisl. Phasellus tincidunt posuere metus, hendrerit malesuada elit sollicitudin quis. Sed id magna eu erat dictum egestas. Sed justo elit, ultrices sit amet ornare sit amet, egestas sed quam. Duis at dolor a tellus dignissim condimentum. Cras non malesuada purus.
</p>
<p>
Nam faucibus, orci sit amet blandit tempor, mauris lectus pretium risus, id cursus mauris ligula vel lacus. Mauris quis ligula dolor, at rutrum sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec odio justo, ornare eu venenatis id, scelerisque sit amet purus. Integer quam nibh, ultrices at faucibus sit amet, accumsan in leo. Mauris sit amet augue nulla, non ornare lacus. Suspendisse non laoreet purus. Proin venenatis ultrices augue, nec faucibus ante lobortis eget. Sed vel neque ut ligula laoreet lacinia. Ut nisi magna, ultrices nec aliquam non, elementum in sem. Donec dolor ante, tincidunt quis eleifend at, commodo placerat massa. Curabitur aliquam massa eu ante commodo sit amet vulputate enim tristique. Curabitur ut mi erat, eu mattis magna. Sed felis justo, vehicula sit amet ultrices sodales, laoreet non turpis. Cras sed elit orci, nec mattis nibh. Maecenas blandit erat eu risus posuere viverra.
</p>


<h2><span>H2 title</span></h2>


<div class='box'>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt consectetur congue. Praesent consequat pellentesque auctor. Fusce vitae fermentum tellus. Ut porta ornare mi, ut egestas elit dignissim et. Cras dictum tincidunt quam at accumsan. Sed non risus in lacus rhoncus commodo. Nulla ac vehicula nisl. Phasellus tincidunt posuere metus, hendrerit malesuada elit sollicitudin quis. Sed id magna eu erat dictum egestas. Sed justo elit, ultrices sit amet ornare sit amet, egestas sed quam. Duis at dolor a tellus dignissim condimentum. Cras non malesuada purus.
</p>
<p>
Nam faucibus, orci sit amet blandit tempor, mauris lectus pretium risus, id cursus mauris ligula vel lacus. Mauris quis ligula dolor, at rutrum sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec odio justo, ornare eu venenatis id, scelerisque sit amet purus. Integer quam nibh, ultrices at faucibus sit amet, accumsan in leo. Mauris sit amet augue nulla, non ornare lacus. Suspendisse non laoreet purus. Proin venenatis ultrices augue, nec faucibus ante lobortis eget. Sed vel neque ut ligula laoreet lacinia. Ut nisi magna, ultrices nec aliquam non, elementum in sem. Donec dolor ante, tincidunt quis eleifend at, commodo placerat massa. Curabitur aliquam massa eu ante commodo sit amet vulputate enim tristique. Curabitur ut mi erat, eu mattis magna. Sed felis justo, vehicula sit amet ultrices sodales, laoreet non turpis. Cras sed elit orci, nec mattis nibh. Maecenas blandit erat eu risus posuere viverra.
</p>
</div>


<div class="box-info" >Information</div>
<div class="box-success" >Success</div>
<div class="box-warn" >Warning</div>
<div class="box-error" >Error</div>

<button class="button">Press me</button>
<a href="#" class="button">Link button</a>