#{extends 'main.html' /}
#{set _app_title: 'Description' /}

<h1>Contacts</h1><br>


<table  class="wikistyle">

<thead>
<tr><th>Participant organisation</th><th>Name</th><th>Country</th><th>Laboratory</th></tr>
</thead>

<tbody>
<tr><td>Institut Pasteur Paris</td><td>(IP)</td><td>France</td><td></td></tr>
<tr><td>Institut Pasteur Korea</td><td>(IPK)</td><td>Korea</td><td></td></tr>
<tr><td>Institut Pasteur Tunis</td><td>(IPT)</td><td>Tunisia</td><td></td></tr>
<tr><td>Institut Pasteur Montevideo</td><td>(IPM)</td><td>Uruguay</td><td></td></tr>
<tr><td>Technion Israel Institute of Technology</td><td>(IIT)</td><td>Israel</td><td></td></tr>
<tr><td>London School of Hygiene and Tropical Medicine</td><td>(LSHTM)</td><td>UK</td><td></td></tr>
<tr><td>University of Rome 2</td><td>(UR2)</td><td>Italy</td><td></td></tr>
<tr><td>Centro de Investigaciones Biologicas</td><td>(CSIC)</td><td>Spain</td><td></td></tr>
<tr><td>Fundaci&oacute; Privada Centre de Regulaci&oacute; Gen&ograve;mica</td><td>(CRG)</td><td>Spain</td><td>Comparative Bioinformatics</td></tr>
<tr><td>Centre National de la Recherche Scientifique</td><td>(CNRS)</td><td>France</td><td></td></tr>
<tr><td>Photeomix</td><td>(PHX)</td><td>France</td><td></td></tr>
<tr><td>Pompeu Fabra University</td><td>(UPF)</td><td>Spain</td><td></td></tr>
<tr><td>Technische Universit&auml;t Braunschweig</td><td>(TUBS)</td><td>Germany</td><td></td></tr>
</tbody>

</table>
