#{extends 'main.html' /}
#{set title:'Browse the data' /}

#{set 'moreStyles' }
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/ext-4.0.2/resources/css/ext-all-gray.css'}"/> 
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/jquery-ui-1.8.13/css/smoothness/jquery-ui.css'}">

<style type="text/css">
.x-toolbar-text, 
.x-column-header, 
.x-grid-cell {
    font-size: 13px !important; 
}

#omni-search {
	margin: 1em;
} 

#omni-search input {
	width: 750px;
	font-size:	18px;
	font-weight: 400;
    border: 1px solid #CFCFCF;
    padding: 8px;
	margin-right: 10px;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -ms-box-sizing:content-box;
}

#omni-search input:focus, 
#omni-search input:hover
  {
    border-color: #AAAAAA;
} 

#omni-search .hint {
	width: 750px;
	margin: 1em 0 2em;
	font-size: 0.85em;
	font-weight: 300;
}

#info, #download  { 
	margin-top: .8em
 }
 
.ui-autocomplete-loading { 
	background: white url('@{'/public/images/ui-anim_basic_16x16.gif'}') right center no-repeat; 
}

.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
}
/* IE 6 doesn't support max-height. We use height instead, but this forces the menu to always be this tall */
* html .ui-autocomplete {
	height: 300px;
}
</style>
#{/set}

#{set 'moreScripts'} 
<script type="text/javascript" src="@{'/public/ext-4.0.2/bootstrap.js'}"></script> 
<script type="text/javascript" src="@{'/public/jquery-ui-1.8.13/js/jquery-ui.min.js'}" charset="utf-8" ></script>
#{/set}

<h1>Browse the database</h1>

<div id="omni-search">
<input id="omni" type="text" > <button id="omni-button" class="button">Search</button>
<div class="hint">
Refine your search entering the keywords on which you are interested. 
Separate multiple keywords using the comma character. 
Enter at least three characters to get suggestions for your search.
</div>
</div>

<div id="the-grid">
</div>

<div id="info">
</div>

<div id="download">
Download the displayed dataset in <a id="downloadCsv" href="javascript:void(0)">CSV format</a> or <a id="downloadFasta" href="javascript:void(0)" >FASTA format</a>
</div>

<!-- Fields required for history management --> 
 <form id="history-form" class="x-hide-display"> 
     <input type="hidden" id="x-history-field" /> 
     <iframe id="x-history-frame"></iframe> 
 </form> 
    
    
<script type="text/javascript">

Ext.Loader.setConfig({enabled: true});

Ext.require([
    'Ext.grid.*',
    'Ext.data.*',
    'Ext.util.*',
    'Ext.grid.PagingScroller',
    'Ext.selection.CheckboxModel'
]);

Ext.onReady(function(){

	/** The grid control */
	
	Ext.define('LeishData', {
        extend: 'Ext.data.Model',
        fields: [
			'_id', 'accession', 'name', 'protein', 'gene', 'organism', 'length'
        ],
        idProperty: '_id'
    });

    // create the Data Store
    var store = Ext.create('Ext.data.Store', {
        id: 'store',
        pageSize: 200,
        model: 'LeishData',
        remoteSort: true,
        remoteFilter: true,
        buffered: true,
        proxy: {
            // load using script tags for cross domain, if the data in on the same domain as
            // this page, an HttpProxy would be better
            type: 'ajax',
            noCache: false,
            url: '@{Data.db()}',
            reader: {
                root: 'entries',
                totalProperty: 'total'
            },
            // sends single sort as multi parameter
            simpleSortMode: true
        }
    });

	store.on("load", function( thisStore, records, successful, operation, options ) 
		{
			var tot = store.getTotalCount();
			 
			if( tot === 0 ) {
				$('#info').text("No record found");
			} 
			else if(tot===1) {
				$('#info').html("Displaying <em>1</em> entry.");
			} 
			else {
				var first = store.first() ? Ext.util.Format.number(store.first().index+1, "0,0") : "0"; 
				var last = store.last() ? Ext.util.Format.number(store.last().index+1, "0,0") : "0"; 
				var tot = Ext.util.Format.number(tot, "0,0")
				var msg = "Displaying <em>"+first+"</em> - <em>"+last+"</em> of <em>"+tot+"</em> entries." 
				$('#info').html(msg); 
			} 

		});

	


/*
	var sm = Ext.create('Ext.selection.CheckboxModel');
	sm.on("select", function(row, record, index, options) 
		{
			console.group("select");
			console.info("Sel: " + record.data._id);
			console.groupEnd()
		});

	sm.on("selectionchange", function(model, array, options) 
			{
				console.group("selectionchange");
				console.info("Sel: " + array);
				console.groupEnd()
			});
		
	sm.on("deselect", function(row, record, index, options) 
			{
				console.group("deselect");
				console.info("Des: " + record.data._id);
				console.groupEnd()
			});

*/	
    var grid = Ext.create('Ext.grid.Panel', {
        width: 900,
        height: 500,
        store: store,
        //selModel: sm,
        verticalScrollerType: 'paginggridscroller',
        loadMask: true,
        disableSelection: false,
        invalidateScrollerOnRefresh: false,
        viewConfig: {
            trackOver: false
        },
        // grid columns
        columns:[
		{
		    xtype: 'rownumberer',
		    width: 50,
		    sortable: false
		},            
		{
            text: "Accession",
            dataIndex: 'accession',
            width: 70,
            sortable: true
        },
        {
            text: "Name",
            dataIndex: 'name',
            width: 130,
            sortable: true
        },
        {
            text: "Function",
            dataIndex: 'protein',
            width: 230,
            sortable: true
        },
        {
            text: "Gene",
            dataIndex: 'gene',
            width: 100,
            sortable: true
        },
        {
            text: "Organism",
            dataIndex: 'organism',
            width: 220,
            sortable: true
        },
        {
            text: "Length",
            dataIndex: 'length',
            width: 60,
            align: 'right',
            sortable: true
        }
        
        ],
        
        renderTo: 'the-grid'
    });

	grid.on('itemdblclick', function(grid, record, item, index, event) 
		{ 
			window.open('@{Application.entry()}?id=' + item.viewRecordId, 'blank')
		});


    // trigger the data store load
    store.guaranteeRange(0, 199);


    //Ext.History.init();

    
    /** omni search box */

	var cache = {}, lastXhr, selitems = {};

    
    function split( val ) {
		return val.split( /,\s*/ );
	}

	function extractLast( term ) {
		return split( term ).pop();
	}

	function append(map, key, value) { 
		if( map[key] == null ) {
			map[key] = value;
			return;
		} 

		if( typeof(map[key]) == 'array' ) {
			map[key].push(value)
			return;
		} 

		map[key] = [ map[key], value ]
	}
	
	function applyFilter(filterStr) { 
		var map = {}
		var aa = split(filterStr);
		for( var i=0; aa && i<aa.length; i++ ) { 
			var v = aa[i];
			if( v == null || $.trim(v).length==0 ) { continue; }
			
			if( selitems[v] == null ) {  
				// it is not known the 'field' for this value 
				append(map,'_',v)
				continue;
			}

			append(map, selitems[v], v);
		}

		var theFilters = [];
		for( var key in map ) if( map[key]!=null )  { 
			theFilters
				.push(new Ext.util.Filter({property: key, value: map[key]}))
		} 

		store.remoteFilter=false;
		store.clearFilter(true);
		store.remoteFilter=true;
		store.filter(theFilters)			
	}

	$("#omni")
	
	.bind( "keydown", function( event ) {
			// don't navigate away from the field on tab when selecting an item
			if ( event.keyCode === $.ui.keyCode.TAB && $(this).data( "autocomplete" ).menu.active ) {
				event.preventDefault();
			}
			// fire here the event to submit the entered data
			else if( event.keyCode === $.ui.keyCode.ENTER && !$(this).data( "autocomplete" ).menu.active ) {
				applyFilter(this.value)
			}
		})
			
	.autocomplete({
		minLength: 2,
		delay: 400,
		
		/* 
		 * redefine the term length constraint  
		 */
		search: function() {
			// custom minLength
			var term = extractLast(this.value);
			if ( term.length < 2 ) {
				return false;
			}
		},
		/* 
		 *  prevent value inserted on focus
		 */		
		focus: function(event, ui) {
			return false;
		},

		/* 
		 * Check if the requested data in available on teh cache otherwise load them 
		 * remotly using an ajax call 
		 */
		source: function( request, response ) {
			var term = extractLast( request.term )
			
			if ( term in cache ) {
				response( cache[ term ] );
				return;
			}
	
			lastXhr = $.getJSON( "@{Data.omnisearch()}", {term: term}, function( data, status, xhr ) {
				cache[ term ] = data;
				if ( xhr === lastXhr ) {
					response( data );
				}
			});

		},

		/* 
		 * Append the selected item to the list of items 
		 */ 
		select: function(event, ui) {
			
			var terms = split( this.value );
			// 1. remove the current input
			terms.pop();
			// 2. add the selected item
			terms.push( ui.item.value ); // <---- Look '.value' is the attribute in our structure (use '.value' for array of strings)
			// 3. join in a unique string
			this.value = terms.join( ", " );
			// 4. each selected items is cached in a local map it will be used at the end to create the filter condition
			selitems[ui.item.value] = ui.item.field;
			return false;
		}
		
	})
	;

	$('#omni').focus();    

	$('#omni-button').click(function() { applyFilter($('#omni').val()) });
	
    
    /** Download links */
    
    $("#downloadCsv").click(
   		function() {
			window.open('@{Data.downloadCsv()}', '_blank')
    	}) 

    $("#downloadFasta").click(
           		function() {
        			window.open('@{Data.downloadFasta()}', '_blank')
            	}) 
    	
});

</script>
