#{extends 'main.html' /}
#{set title: 'Description' /}
#{set selected: 'description' /}


<h1>Description</h1>
During the infectious cycle, trypanosomatid pathogens of the genus Leishmania alternate
between the insect promastigote stage and the vertebrate aflagellate amastigote stage that
proliferates inside infected host macrophages provoking the pathology of the disease. Amastigote
development and growth are highly dynamic events regulated by signaling cascades involving (i)
extracellular signals encountered in the host cell phagolysosome such as pH and temperature, (ii)
stage-specific signaling molecules that are able to sense these cues such extracellular-regulated
kinases, and (iii) downstream phosphorylated substrates that are potentially implicated in virulence
and pathogenicity.
The LEISHDRUG consortium (www.Leishdrug.org) uses a highly interdisciplinary approach to reveal Leishmania signaling molecules associated with amastigote virulence, with the major aim to exploit parasite-specific pathways for anti-leishmanial drug development. The consortium is based on three clusters with each two interactive scientific work packages that follow the major stages of the drug development process, including (i) identification of hit compounds and target kinases using phenotype- and target-based screening strategies, (ii) hit-to-lead validation by establishing pharmacokinetic profiles using cell-culture and experimental infection models and (iii) lead optimization using bio-informatics and structure-based drug design.

<h2>References</h2>

Identification of Leishmania-specific protein phosphorylation sites by LC-ESI-MS/MS and comparative genomics analyses. 
Hem S, Gherardini PF, Osorio y Fort&eacute;a J, Hourdel V, Morales MA, Watanabe R, Pescher P, Kuzyk MA, Smith D, Borchers CH, Zilberstein D, Helmer-Citterich M, Namane A, Sp&auml;th GF. 
Proteomics. 2010 Nov;10(21):3868-83. [PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/20960452" target="_blank" >20960452</a>] [DOI: <a href="http://dx.doi.org/10.1002/pmic.201000305" target="_blank">10.1002/pmic.201000305</a>]