#{extends 'main.html' /}
#{set _app_title:'Home' /}

#{set 'moreScripts'} 
<script type="text/javascript" src="@{'/public/javascripts/jquery-tmpl.min.js'}"></script> 
<script type="text/javascript" src="@{'/public/javascripts/knockout-1.2.1.debug.js'}"></script> 
#{/set}


<h1>Welcome to Leishdrug DB project</h1>

<table class="wikistyle">
<thead>
<tr>
<th>Species</th>
<th>Proteins</th>
<th>Psites</th>
<th>Leish Psites</th>
<th>Version</th>
</tr>
</thead>

<tbody >
#{list species}
<tr>
<td>${_.get('_id')}</td>
<td align='right'>${_.get('value').format("#,##0")}</td>
<td align='right'>x</td>
<td align='right'>y</td>
<td align='right'>1.0</td>
</tr>
#{/list}
</tbody>
</table>

<div>
All known annotation have been extracted from <a href="http://www.uniprot.org/news/2011/05/03/release" target="_blank">UniProt Release 2011_05</a>
</div>

