#{extends 'main.html' /}
#{set _app_title:'Query grid' /}

#{set 'moreStyles' }
<link rel="stylesheet" type="text/css" href="@{'/public/ext-4.0.1/resources/css/ext-all.css'}"/> 
<style type="text/css">

.x-toolbar-text, 
.x-column-header, 
.x-grid-cell {
    font-size: 13px !important; 
}

#search-box { margin-bottom: 1em; } 
#the-grid { margin-bottom: 1em; } 
</style>
#{/set}

#{set 'moreScripts'} 
<script type="text/javascript" src="@{'/public/ext-4.0.1/bootstrap.js'}"></script> 
<script type="text/javascript" src="@{'/public/javascripts/jquery-tmpl.min.js'}"></script> 
<script type="text/javascript" src="@{'/public/javascripts/knockout-1.2.1.js'}"></script> 
#{/set}

<div id="search-box">
<label>Organism:</label><select id="organism" data-bind="options: availableOrganisms, value: organism, optionsCaption:'(all)'" ></select>
<br>
<label>DB Ref Type</label><select id="dbRefType" data-bind="options: availableDbRefType, value: dbRefType, optionsCaption:'(all)'"></select>
<br><br>
<button data-bind="click: filterData">Filter</button>
</div> 


<div id="the-grid">
</div>


<script type="text/javascript">

/* 
 * Filter model initialization 
 */
 var availableOrganisms = [
		"Crithidia fasciculata",
		"Homo sapiens",
		"Leishmania braziliensis",
		"Leishmania infantum",
		"Leishmania major strain Friedlin",
		"Leishmania mexicana",
		"Leishmania tarentolae",
		"Trypanosoma brucei TREU927",
		"Trypanosoma cruzi strain CL Brener",
		"Trypanosoma congolense",
		"Trypanosoma vivax"
	];

var availableDbRefType = ["Pfam"];

/*
 * The grid initialization
 */

Ext.Loader.setConfig({enabled: true});

Ext.require([
    'Ext.grid.*',
    'Ext.data.*',
    'Ext.util.*',
    'Ext.grid.PagingScroller'
]);

Ext.onReady(function(){
    Ext.define('LeishData', {
        extend: 'Ext.data.Model',
        fields: [
			'_id', 'accession', 'name', 'protein', 'gene', 'organism', 'length'
        ],
        idProperty: '_id'
    });

    // create the Data Store
    var store = Ext.create('Ext.data.Store', {
        id: 'store',
        pageSize: 200,
        model: 'LeishData',
        remoteSort: true,
        remoteFilter: true,
        buffered: true,
        proxy: {
            // load using script tags for cross domain, if the data in on the same domain as
            // this page, an HttpProxy would be better
            type: 'ajax',
            url: '@{Application.data()}',
            reader: {
                root: 'entries',
                totalProperty: 'total'
            },
            // sends single sort as multi parameter
            simpleSortMode: true
        }
    });

	store.on("load", function( thisStore, records, successful, operation ) 
		{
			$('#total em').text( store.getTotalCount() ); 
		});


	
/*    function renderTopic(value, p, record) {
        return Ext.String.format(
            '<a href="http://sencha.com/forum/showthread.php?t={2}" target="_blank">{0}</a>',
            value,
            record.data.forumtitle,
            record.getId(),
            record.data.forumid
        );
    }
*/


    var grid = Ext.create('Ext.grid.Panel', {
        width: 900,
        height: 500,
        store: store,
        verticalScrollerType: 'paginggridscroller',
        loadMask: true,
        disableSelection: true,
        invalidateScrollerOnRefresh: false,
        viewConfig: {
            trackOver: false
        },
        // grid columns
        columns:[
		{
            text: "Accession",
            dataIndex: 'accession',
            width: 70,
            sortable: true
        },
        {
            text: "Name",
            dataIndex: 'name',
            width: 130,
            sortable: true
        },
        {
            text: "Function",
            dataIndex: 'protein',
            width: 250,
            sortable: true
        },
        {
            text: "Gene",
            dataIndex: 'gene',
            width: 110,
            sortable: true
        },
        {
            text: "Organism",
            dataIndex: 'organism',
            width: 250,
            sortable: true
        },
        {
            text: "Length",
            dataIndex: 'length',
            width: 60,
            align: 'right',
            sortable: true
        }
        
        ],

        dockedItems: [{
            xtype: 'pagingtoolbar',
            store: store,   // same store GridPanel is using
            dock: 'bottom',
            displayInfo: true
        }],        
        
        renderTo: 'the-grid'
    });

	grid.on('itemdblclick', function(grid, record, item, index, event) { 
		window.location = "@{Application.item()}?id=" + item.viewRecordId ;
	});

    // trigger the data store load
    store.guaranteeRange(0, 199);


    /* 
     * Finalize the filter KO model
     */
    var filterModel = {
    		organism: ko.observable(),
    		dbRefType: ko.observable(),

    		filterData: function() {
		        var theFilters = [];
				var obj = ko.toJS(filterModel);
				for( var key in obj ) if(typeof(obj[key]) == 'string') { 
					theFilters
						.push(new Ext.util.Filter({property: key, value: obj[key]}))
				} 

				store.remoteFilter=false;
				store.clearFilter(true);
				store.remoteFilter=true;
				store.filter(theFilters)
    		} 
    	};
    		
    ko.applyBindings(filterModel); // Makes Knockout get to work

    
});

</script>
