<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	#{if title}
	<title>${title} | LeishProt</title>
	#{/if}
	#{elseif !meta?.contains('<title>') }
	<title>LeishProt</title>
	#{/elseif}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="application-name" content="LeishProt">
	<link rel="shortcut icon" type="image/x-icon" href="@{'/public/images/favicon.ico'}"> 
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/main.scss'}">
	#{get 'moreStyles' /}

	<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
	#{get 'moreScripts' /}
</head>

<body > 
<div id="main">
	<div id="header"> 
	    <div class="wrapper">   
	        <h1 id="logo"><a href="/">LeishProt</a></h1> 
	        <ul id="menu"> 
	            <li class="#{if selected=='home'}selected#{/if}" ><a href="/">Home</a> </li> 
	            <li class="#{if selected=='description'}selected#{/if}"><a href="@{Application.description()}">Learn</a> </li> 
	            <li class="#{if selected=='database'}selected#{/if}"><a href="@{Application.db()}">Database</a> </li> 
	            <li class="#{if selected=='contacts'}selected#{/if}"><a href="@{Application.contacts()}">Contacts</a>  </li> 
	        </ul> 
	    </div>      
	</div> 
	<div id="top">
	</div> 
	<div class="content wrapper"> 
		<div class="c-style"> 
		#{doLayout /}
		</div> 
	</div> 
	<div id="push"></div> 
</div>    
    
<div id="footer"> 
    <div class="wrapper"> 
        <p class="licence"> 
		<img src="@{'/public/images/crg.png'}" height="18" width="18" alt="CRG logo" style="margin-bottom: -2px">The LeishProt Database project is hosted by the <a href="http://www.crg.es" target="_blank">Centre for Genomic Regulation</a> (CRG) of Barcelona 
        </p> 
    </div> 
</div> 

#{if play.Play.mode.isProd()}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16712397-5']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
#{/if}
</body> 
</html>